
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAGE STRUCTURE */
body {
    background: #363939;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#layout {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 280px;
    background: #1f1f1f;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: relative;
}

.sidebar.hide { transform: translateX(-100%); }
.show-sidebar { transform: translateX(0) !important; }

/* Profile Circle */
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #0b6d3a;
    display: block;
    margin: 0 auto 40px;
    object-fit: cover;
}

/* Menu */
.menu a {
    display: block;
    padding: 18px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu a:hover {
    background: #0a5f34;
    transform: translateX(8px);
}

.menu a.active {
    background: #0d4928;
    font-weight: bold;
}

/* Logout Button */
.logout {
    margin-top: auto;
    padding: 16px;
    background: #cc1f1f;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.logout:hover {
    background: #ff2626;
    transform: scale(1.05);
}


/* MAIN CONTENT */
.main-content {
    flex: 1;
    padding: 20px 30px;
}

.top-header h1 {
    background: white;
    padding: 10px;
    font-size: 22px;
}

/* GRID LAYOUT */
.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1.2fr;
    grid-template-rows: 240px 240px;
    gap: 20px;
    margin-top: 15px;
}

/* DASHBOARD BOXES */
.box {
    background: #dcdcdc;
    border: 2px solid #1f542f;
    border-radius: 5px;
    position: relative;
    transition: 0.25s ease;
}

/* Box hover animation */
.box:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 0 12px #1f542f8a;
}

.box-title {
    background: #1f542f;
    color: white;
    font-size: 13px;
    padding: 4px 8px;
}

/* NOTIFICATION AREA */
.notif-scroll {
    height: calc(100% - 25px);
    overflow-y: auto;
    background: white;
    margin-top: 5px;
}

/* TABLE */
.table {
    background: white;
}

thead {
    background: #1f542f !important;
    color: white;
}


.footer {
    text-align: center;
    padding: 15px 0;
    color: #00ff77;
    margin-top: auto;
}




